html{
    height: 100%;
    width: 100%;
}

body{
    height: 100%;
    width: 100%;
    background-image: url("background.jpg");
    background-repeat: no-repeat;
    /* background-position: center; */
    background-size: cover;
    background-attachment: fixed;
}

.title{
    font-size: 60px;
    font-family: fantasy;
    color: rgb(255, 196, 0);
    text-align: center;
    font-weight: lighter;
}

.select{
    font-size: 30px;
    font-family: fantasy;
    color: rgb(194, 227, 240);
    text-align: center;
    font-weight: lighter;
}

#coins{
    font-size: 50px;
    font-family: fantasy;
    color: rgb(0, 0, 0);
    text-align: center;
    font-weight: lighter;
    background-color: rgb(255, 196, 0);
    width: 300px;
    border-width: 6px;
    border-radius: 8px;
    border-color: rgb(194, 227, 240);
}

.container{
    height: 200px;
    position: relative;
}

.btn{
    position: absolute; 
    top: 60%;
    left: 50%;
    font-family: fantasy;
    font-size: 30px;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    width: 100px;
    border-radius: 8px;
    background-color: rgb(255, 196, 0);
    border-color: rgb(194, 227, 240);
}

#result{
    position: absolute; 
    top: 70%;
    left: 50%;
    font-family: fantasy;
    font-size: 60px;
    color: rgb(255, 21, 21);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);


}